---
import Html from "../layouts/Html.astro";
---

<Html
  title="Design System"
  description="Overview of the design system behind this site"
>
  <div class="m-2 prose">
    <h1>Design System</h1>
    <p>
      As we change and customize our tailwind config, this page provides an
      overview of what the design system it represents is looking like
    </p>
    <h2>Colors</h2>
    <p>
      For now, the only custom colors is this gradient of salmon which is the
      primary brand color for CTD, seen all over <a
        href="https://codethedream.org">codethedream.org</a
      >
    </p>
    <div class="flex">
      <div>
        <div
          class="flex items-center justify-center rounded m-3 w-32 h-12 bg-salmon"
        >
          <span class="font-bold text-white">Default</span>
        </div>
        <div
          class="flex items-center justify-center rounded m-3 w-32 h-12 bg-salmon-100"
        >
          <span class="font-bold text-white">100</span>
        </div>
        <div
          class="flex items-center justify-center rounded m-3 w-32 h-12 bg-salmon-200"
        >
          <span class="font-bold text-white">200</span>
        </div>
        <div
          class="flex items-center justify-center rounded m-3 w-32 h-12 bg-salmon-300"
        >
          <span class="font-bold text-white">300</span>
        </div>
        <div
          class="flex items-center justify-center rounded m-3 w-32 h-12 bg-salmon-400"
        >
          <span class="font-bold text-white">400</span>
        </div>
        <div
          class="flex items-center justify-center rounded m-3 w-32 h-12 bg-salmon-500"
        >
          <span class="font-bold text-white">500</span>
        </div>
        <div
          class="flex items-center justify-center rounded m-3 w-32 h-12 bg-salmon-600"
        >
          <span class="font-bold text-white">600</span>
        </div>
        <div
          class="flex items-center justify-center rounded m-3 w-32 h-12 bg-salmon-700"
        >
          <span class="font-bold text-white">700</span>
        </div>
        <div
          class="flex items-center justify-center rounded m-3 w-32 h-12 bg-salmon-800"
        >
          <span class="font-bold text-white">800</span>
        </div>
        <div
          class="flex items-center justify-center rounded m-3 w-32 h-12 bg-salmon-900"
        >
          <span class="font-bold text-white">900</span>
        </div>
      </div>
      <div class="flex items-center justify-center">
        Not super thrilled about the look of this gradient, but we can tweak it
        later to make it look better!
      </div>
    </div>
  </div>
</Html>
