---
import Html from "../layouts/Html.astro";
import { Link } from "../components/link";
import Header from "../components/header.astro";
---

<Html title="Home" description="CTD Course Pages Home">
  <Header />
  <main>
    <div class="prose rounded p-4 m-8">
      <h1>CTD Course Pages</h1>
      <p>
        Welcome to CTD Course Pages! This is a heavily WIP website which will
        become the future home of CTD curriculum content (for at least the
        node-express course)!
      </p>
      <p>
        Below is a bit of the Astro Boilerplate, which I've left behind as new
        contributors will be familiarizing themselves with it!
      </p>
      <p>
        Here are some entrypoints into the content we are working on:
        <ul>
          <li><Link href="/node-express/home">Node Express Course</Link></li>
          <li><Link href="/general/homework-tips">Homework Tips</Link></li>
        </ul>
      </p>
    </div>
  </main>
</Html>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
  }
  .instructions code {
    font-size: 0.875em;
    font-weight: bold;
    background: rgba(var(--accent), 12%);
    color: rgb(var(--accent));
    border-radius: 4px;
    padding: 0.3em 0.45em;
  }
  .instructions strong {
    color: rgb(var(--accent));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
