---
import NavLink from "./navLink.astro";
import { WipHeader } from "./wip";
---

<WipHeader />
<header class="flex gap-3 p-4 mb-4 bg-salmon-300">
  <a href="/"
    ><img class="sm:w-48 bg-salmon-100 p-2 rounded-xl" src="/ctdLogo.webp" /></a
  >
  <div class="gap-2 items-center sm:flex hidden">
    <NavLink href="/">Home</NavLink>
    <NavLink href="/node-express/home">Node/Express Course</NavLink>
  </div>
</header>
