---
/**
 * Layout for a generic markdown file. The layout script will validate at
 * runtime that a title and description are present in the frontmatter
 * properties for the markdown file. This is required for meta tags and social
 * media link previews!
 */
import Html from "./Html.astro";
import { Header } from "../components/header";
import { WipBanner } from "../components/wip";

export interface Props {
  title: string;
  description: string;
  /**
   * For social media link previews
   */
  thumbnail?: string | undefined;
}
---

<Html
  title={Astro.props.title}
  description={Astro.props.description}
  thumbnail={Astro.props.thumbnail}
>
  <div class="flex flex-col min-h-screen">
    <Header />
    <div
      class="flex flex-grow pt-8 bg-salmon-50 sm:bg-white justify-center w-screen"
    >
      <div class="prose m-2 sm:bg-salmon-50 sm:p-2 rounded">
        <slot />
      </div>
    </div>
    <WipBanner />
  </div>
</Html>

<script>
  import { lightweightMermaidInit } from "../mermaidClientInitScript";
  lightweightMermaidInit();
</script>

<style is:global>
  @media (max-width: 600px) {
    pre {
      width: 90vw !important;
    }
  }
</style>
