---
/**
 * This is the base template for the entire website.
 */

export interface Props {
  title: string;
  description: string;
  /**
   * For social media link previews
   */
  thumbnail?: string | undefined;
}
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <title>{Astro.props.title}</title>
    <meta name="description" content={Astro.props.description} />
    <meta
      name="og:image"
      content={Astro.props.thumbnail || Astro.url + "ctdLogo.webp"}
    />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
  </head>
  <body>
    <slot />
  </body>
</html>
